<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <style>
    .header {
      text-align: center;
    }
    .header h2 {
      font-size: 3em;
    }
    .input-row {
      margin-top: 20px;
    }
    .input-row input.input-box {
        width: 100%;
        height: 46px;
    }
    .btn-test {
        width: 100%;
    }
    </style>
</head>
<body>    
    <div class="jumbotron">
      <div class="container">
        <div class="row header">
          <div class="col-md-8 col-md-offset-2">
            <h2>Go Report Card</h2>
            <p>Enter the <strong>Github URL</strong> below to generate a report on the quality of the Go code in the project</p>
          </div>
        </div>
        <div class="row input-row">
          <div class="col-md-8 col-md-offset-2">
            <div class="col-md-9">
            <form>
              <p>
                <input type="text" class="input-box" />
              </p>
            </form>
            </div>
            <div class="col-md-3">
              <a class="btn btn-primary btn-lg" href="#" role="button" class="btn-test">Test Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>
</html>